*.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Lato', 'Arial', sans-serif;
    width: 1140px;
    margin: 10px auto auto auto;/*top, bottom, left and right*/
}

nav {
	height:40px;
	width:100%; 
	display:block;
	margin:0 auto;
	text-align: center;
	text-transform: uppercase;
    background:#fc575e;

}

nav a{
	display:block;
	text-decoration: none;
	font-family: monospace;
	font-weight: bold;
	font-size:13pt;
	color:#112233;
}

nav a:hover{
	background:#223433;
	color:#f0f1f5;
}

nav ul{
	list-style: none;
}

nav ul li{
	float:left;
	width:220px;
	height:40px;
	line-height: 40px;
	background:#fc575e;
}

nav ul ul li{
	position:relative;
	display:none;
}

nav ul ul ul{
	display:none;
}

nav ul li:hover ul li{
	display: block;
	animation: navmenu 500ms forwards;
}

@keyframes navmenu{
	0%{
		opacity:0;
		top:5px;
	}
	100%{
		opacity:1;
		top:0px;
	}
}

nav ul ul li:hover ul{
	display:block;
	position:absolute;
	width:140px;
	left:140px;
	top:0px;
}

#lastitem ul li ul {
	left: -100%;           /* Position the second submenu at the left side of the li element */ 
}
#lastitem ul li{
left: -10%;    
    
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #3385ff;
  color: white;
}
img{
    float: right;
    padding: 10px;
    border-radius: 40px;
}

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.line{
	/* The dividing line: */
	height:1px;
	margin:1em 0;
	overflow:hidden;
    width: 100%;
}
/*Started------Style Setting for the 3 Colum page */
.row3col{   /* giving 100% of the available page width to the 3 colum section of teh page*/
    width: 100%;
}
/*Started-----Style Setting for the 2 Colum page */
/*Adjusting setting for  the 3 colums  page, giving 31% to each page, becaouse there is 10px given for the padding*/
.column3 {
    padding: 10px;
    float: left;
    width: 31%;
}

/* Clear floats after the columns */
.row3col:after {
    content: "";
    display: table;
    clear: both;
}

#3ColCenter { /* targeting the center colum with some padding*/
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

#cen {
    text-align: center;
    font-size: 200%;
}  
/*End------ Style Settings for the 3 Colum page */


/*Started-----Style Setting for the 2 Colum page */

.column {
   padding: 20px;
   float: left;
    width: 45%;
}
/* Clear floats after the columns */
.Colrow2:after {
    content: "";
    display: table;
    clear: both;
}/*End------ Style Settings for the 2 Colum page */

/*style setting for all footer and mouse hver*/
footer{
    margin: 0;
    text-align: center;
    font-size: 40 px;
}
a:hover { 
    background-color: yellow;
}

