*. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  width: 1140px;
  margin: 10px auto 20px 20px;
  /*top, bottom, left and right*/
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  text-align: center;
}

nav {
  height: 40px;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  background: #fc575e;
}

nav a {
  display: block;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 13pt;
  color: #112233;
}

nav a:hover {
  background: #223433;
  color: #f0f1f5;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  float: left;
  width: 20%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: #fc575e;
}

nav ul li:hover ul li {
  display: block;
  animation: navmenu 500ms forwards;
}

img {
  float: right;
  padding: 10px;
  border-radius: 40px;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.line {
  /* The dividing line: */
  height: 1px;
  margin: 1em 0;
  overflow: hidden;
  width: 100%;
}

/*Started-----Style Setting for the 2 Colum page */
.column {
  padding: 20px;
  float: left;
  width: 45%;
}

/* Clear floats after the columns */
.Colrow2:after {
  content: "";
  display: table;
  clear: both;
}

/*End------ Style Settings for the 2 Colum page */
/*style setting for all footer and mouse hver*/
footer {
  margin: 0;
  text-align: center;
  font-size: 40 px;
}

a:hover {
  background-color: yellow;
}

@media only screen and (max-width: 480px) {
  .column {
    width: 100%;
  }

  .Container {
    width: 480px;
  }

  header {
    width: 100%;
  }

  nav {
    height: auto;
    background-color: #fc575e;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
  }

  nav ul {
    background-color: inherit;
  }

  nav ul li {
    background-color: inherit;
    border: none;
    display: inline-block;
    width: 20%;
    margin-left: -.36em;
  }

  /* img{
    height: 300px;
    padding: 10px;
    border-radius: 40px;
    }  */
  img {
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
  }

  nav a {
    font-size: 10pt;
  }
}

@media screen and (max-width: 478px) {
  .Container {
    width: 478px;
  }
}
